.containerche {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #FEF9E7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding doesn't add to the width */
}

button {
    background-color: #B68D40;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

button:hover {
    background-color: #D6AD60; /* Darker shade on hover */
}

.order-placed {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
